<h6> Gist Detail </h6>

<%= gist.escape("title") %>



<div class="fav-unfav">

<button data-id="favorite" type="button" class="">FAV!</button>
<button data-id="unfavorite" type="button" class="hidden">UNFAV!</button>
</div>